<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-app="game">
    <main data-ng-controller="GameController as gamectrl">
      <section>
        <h1>{{gamectrl.output}}</h1>
        <div ng-show="gamectrl.position">
          <p>Health: {{gamectrl.health}}</p>
          <p>Mana: {{gamectrl.mana}} </p>
          <p>Power: {{gamectrl.power}} </p>
          <p>Carrying: {{gamectrl.pack}} </p>
        </div>
        <div ng-show="gamectrl.enemy">
          <p>Enemy Health: {{gamectrl.enemyHealth}}</p>
        </div>
        <form data-ng-submit="gamectrl.newPlayer(person)" ng-show="!gamectrl.position">
          <input type="text" data-ng-model="person"/>
          <button type="submit">submit</button>
        </form>
        <form data-ng-submit="gamectrl.newRoom(room)" ng-show="gamectrl.position === 1">
          <input type="text" data-ng-model="room"/>
          <button type="submit">submit</button>
        </form>
        <form data-ng-submit="gamectrl.fight(attack)" ng-show="gamectrl.position === 2">
          <input type="text" data-ng-model="attack"/>
          <button type="submit">submit</button>
        </form>
        <form data-ng-submit="gamectrl.fight(attack)" ng-show="gamectrl.position === 3">
          <input type="text" data-ng-model="attack"/>
          <button type="submit">submit</button>
        </form>
        <form data-ng-submit="gamectrl.lastRoom(lastRoom)" ng-show="gamectrl.position === 4">
          <input type="text" data-ng-model="lastRoom"/>
          <button type="submit">submit</button>
        </form>
        <form data-ng-submit="gamectrl.drink(potion)" ng-show="gamectrl.position === 'potion'">
          <input type="text" data-ng-model="potion"/>
          <button type="submit">submit</button>
        </form>
      </section>
    </main>
    <script src="./bundle.js"></script>
    <script src="./creatures.js"></script>
    <script src="./items.js"></script>
    <script src="./play.js"></script>

  </body>
</html>
